<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="server=localhost;uid=accelerateUh449;pwd=-n?O2s1BP1%];Database=accelerate" name="accelerate" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.webServer>
    <rewrite>
      <rules>
			<rule name="wordpress" patternSyntax="Wildcard">
				<match url="*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
				<action type="Rewrite" url="index.php" />
			</rule></rules>
    </rewrite>
  </system.webServer>
</configuration>
